/* 视频背景尝试 */
.video_q {
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  object-fit: fill;

}


/* 
@import './base.css';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}





@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .video_q {
    display: none;
  }
  .videoBox{
  display: none;    
  }
  *{
    font-size: 16px;
  }
} */